#define WIFI_SSID "ssid"
#define WIFI_PASSWORD "senha"

#define MQTT_HOST IPAddress(192,168, 1, 10)
#define MQTT_PORT 1883
#define MQTT_HOSTNAME "esp32_homeio"

#define DEBOUNCE_ENTRADA 100 //ms


#define OTA_PASSWORD "senha"
